<!--<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          [(ngModel)]="name"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchUsers(name)"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Users List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let user of users; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveUser(user, i)"
        >
          {{ user.name }}
        </li>
      </ul>
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllUsers()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentUser">
        <h4>User Management</h4>
        <div>
          <label><strong>name:</strong></label> {{ currentUser.name }}
        </div>
        <div>
          <label><strong>Email:</strong></label>
          {{ currentUser.email }}
        </div>
       
        <a class="badge badge-warning" href="/users/update/{{ currentUser.id }}">
          Edit
        </a>
      </div> 
      <div *ngIf="!currentUser">
        <br />
        <p>Please click on a User...</p>
      </div>
    </div>
  </div>-->
  <input
          type="search"
          class="form-control"
          placeholder="Search"
          [(ngModel)]="name"
        style="margin-left:22%; width:590px;"/>
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchUsers(name)" style="color:white; background-color:rgb(125, 24, 226); margin-left:75%; margin-top:-4%; width:auto; "
          >
   Search
          </button>
        </div>
  <div class="col-sm-7">
    
  <table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>						
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users;let i=index">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td><button [class.active]="i == currentIndex"
              (click)="setActiveUser(user, i)"  data-toggle="modal" data-target="#modall"><i class="fa fa-regular fa-pencil"></i></button></td>
           
                
        </tr>
      </tbody>
    </table>
    </div>
    